{% extends 'layout.html' %}

<title>
  {% block title %}Presentasi - Perpustakaan Diatas Awan{% endblock %}
</title>

{% block project_content %}
<div class="presentasi">
  <img
    src="../static/presentasi/IMG-20231220-WA0015.jpg"
    class="img-fluid"
    alt="..."
  />
</div>
<div class="presentasi">
  <img
    src="../static/presentasi/IMG-20231220-WA0016.jpg"
    class="img-fluid"
    alt="..."
  />
</div>
<div class="presentasi">
  <img
    src="../static/presentasi/IMG-20231220-WA0018.jpg"
    class="img-fluid"
    alt="..."
  />
</div>
<div class="presentasi">
  <img
    src="../static/presentasi/IMG-20231220-WA0020.jpg"
    class="img-fluid"
    alt="..."
  />
</div>
<div class="presentasi">
  <img
    src="../static/presentasi/IMG-20231220-WA0022.jpg"
    class="img-fluid"
    alt="..."
  />
</div>
{% endblock %}
